.blog-card
    +flex-center
    width: 100%
    border-radius: 12px
    background: $dark
    padding: $spacing-large
    margin: $spacing-large 0

    &--content
        width: 100%
        color: $white

        .title
            +links($blue, $blue, $blue, $blue)

    &--heading
        width: 100%
        position: relative
        margin-bottom: $spacing-extra-large

        &::after
            content: ""
            position: absolute
            left: 0
            width: 100%
            border-bottom: 2px solid $snow
            bottom: -$spacing-medium

        .author
            font-size: 1.5rem
            margin-right: $spacing
            +links($green, $green, $green, $green)

        .date
            color: $dark-gray