@font-face
    font-family: Karla
    font-display: auto
    src: local('Karla'), url('../fonts/Karla.ttf')

@font-face
    font-family: Montserrat
    font-display: auto
    src: local('Montserrat'), url('../fonts/Montserrat.ttf')

@font-face
    font-family: Roboto
    font-display: auto
    src: local('Roboto'), url('../fonts/Roboto.ttf')

*
    box-sizing: border-box

html
    height: 100vh

body
    margin: 0
    font-family: 'Roboto'
    height: 100%
    background: $dark-snow

ul
    list-style: none
    padding-left: 0

section
    max-width: $max-view

.container
    +flex-center
    padding: $spacing
    width: 100%

    > h1.page-title
        color: $dark-blue