@font-face
    font-family: 'Karla'
    font-display: auto
    src: local('Karla'), url('../fonts/Karla.ttf')

@font-face
    font-family: 'Montserrat'
    font-display: auto
    src: local('Montserrat'), url('../fonts/Montserrat.ttf')

@font-face
    font-family: 'Roboto'
    font-display: auto
    src: local('Roboto'), url('../fonts/Roboto.ttf')

html
    height: 100vh

body
    font-family: 'Roboto'
    height: 100%
    background: $dark-snow

section
    max-width: $max-view

.container
    +flex-center
    padding: $spacing
    width: 100%

    > h1.page-title
        color: $dark-blue