.header
    +flex-center
    padding: $spacing
    background: $dark

    &--inner
        +flex-row
        justify-content: space-between
        width: 100%
        max-width: $max-view

    nav
        +flex-row
        align-items: center

        .logo
            max-width: $spacing * 2.5
            margin: 0 $spacing-large $spacing-small 0
            transform: scale(2)
            font-size: 1.75rem

        .link
            +links($snow, $snow, $snow, $snow)

            + .link
                margin-left: $spacing-medium
