.no--padding {
  padding: 0; }
  .no--padding-top {
    padding-top: 0; }
  .no--padding-bottom {
    padding-bottom: 0; }
  .no--padding-left {
    padding-left: 0; }
  .no--padding-right {
    padding-right: 0; }
.no--margin {
  margin: 0; }
  .no--margin-top {
    margin-top: 0; }
  .no--margin-bottom {
    margin-bottom: 0; }
  .no--margin-left {
    margin-left: 0; }
  .no--margin-right {
    margin-right: 0; }

.small--padding {
  padding: 0.5rem; }
  .small--padding-top {
    padding-top: 0.5rem; }
  .small--padding-bottom {
    padding-bottom: 0.5rem; }
  .small--padding-left {
    padding-left: 0.5rem; }
  .small--padding-right {
    padding-right: 0.5rem; }
.small--margin {
  margin: 0.5rem; }
  .small--margin-top {
    margin-top: 0.5rem; }
  .small--margin-bottom {
    margin-bottom: 0.5rem; }
  .small--margin-left {
    margin-left: 0.5rem; }
  .small--margin-right {
    margin-right: 0.5rem; }

.normal--padding {
  padding: 1rem; }
  .normal--padding-top {
    padding-top: 1rem; }
  .normal--padding-bottom {
    padding-bottom: 1rem; }
  .normal--padding-left {
    padding-left: 1rem; }
  .normal--padding-right {
    padding-right: 1rem; }
.normal--margin {
  margin: 1rem; }
  .normal--margin-top {
    margin-top: 1rem; }
  .normal--margin-bottom {
    margin-bottom: 1rem; }
  .normal--margin-left {
    margin-left: 1rem; }
  .normal--margin-right {
    margin-right: 1rem; }

.large--padding {
  padding: 2rem; }
  .large--padding-top {
    padding-top: 2rem; }
  .large--padding-bottom {
    padding-bottom: 2rem; }
  .large--padding-left {
    padding-left: 2rem; }
  .large--padding-right {
    padding-right: 2rem; }
.large--margin {
  margin: 2rem; }
  .large--margin-top {
    margin-top: 2rem; }
  .large--margin-bottom {
    margin-bottom: 2rem; }
  .large--margin-left {
    margin-left: 2rem; }
  .large--margin-right {
    margin-right: 2rem; }

.extra-large--padding {
  padding: 3rem; }
  .extra-large--padding-top {
    padding-top: 3rem; }
  .extra-large--padding-bottom {
    padding-bottom: 3rem; }
  .extra-large--padding-left {
    padding-left: 3rem; }
  .extra-large--padding-right {
    padding-right: 3rem; }
.extra-large--margin {
  margin: 3rem; }
  .extra-large--margin-top {
    margin-top: 3rem; }
  .extra-large--margin-bottom {
    margin-bottom: 3rem; }
  .extra-large--margin-left {
    margin-left: 3rem; }
  .extra-large--margin-right {
    margin-right: 3rem; }

.flex {
  display: flex; }
  .flex--center {
    justify-content: center;
    align-items: center; }
    .flex--center--hor {
      justify-content: center; }
    .flex--center--ver {
      align-items: center; }

@font-face {
  font-family: "Karla";
  font-display: auto;
  src: local("Karla"), url("../fonts/Karla.ttf"); }
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  src: local("Montserrat"), url("../fonts/Montserrat.ttf"); }
@font-face {
  font-family: "Roboto";
  font-display: auto;
  src: local("Roboto"), url("../fonts/Roboto.ttf"); }
* {
  box-sizing: border-box; }

html {
  height: 100vh; }

body {
  margin: 0;
  font-family: "Roboto";
  height: 100%;
  background: #dedede; }

ul {
  list-style: none;
  padding-left: 0; }

section {
  max-width: 80rem; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 1rem;
  width: 100%; }
  .container > h1.page-title {
    color: #3e69ac; }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 1rem;
  background: #1d2125; }
  .header--inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    max-width: 80rem; }
  .header nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
    .header nav .logo {
      max-width: 2.5rem;
      margin: 0 2rem 0.5rem 0;
      transform: scale(2);
      font-size: 1.75rem; }
    .header nav .link + .link {
      margin-left: 1.5rem; }
    .header nav .link {
      color: #e6e6e6;
      text-decoration: none; }
      .header nav .link:visited {
        color: #e6e6e6; }
      .header nav .link:hover {
        color: #e6e6e6; }
      .header nav .link:active, .header nav .link:focus {
        color: #e6e6e6; }

.blog-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100%;
  border-radius: 12px;
  background: #1d2125;
  padding: 2rem;
  margin: 2rem 0; }
  .blog-card--content {
    width: 100%;
    color: #ffffff; }
    .blog-card--content .title {
      color: #3ba3fb;
      text-decoration: none; }
      .blog-card--content .title:visited {
        color: #3ba3fb; }
      .blog-card--content .title:hover {
        color: #3ba3fb; }
      .blog-card--content .title:active, .blog-card--content .title:focus {
        color: #3ba3fb; }
  .blog-card--heading {
    width: 100%;
    position: relative;
    margin-bottom: 3rem; }
    .blog-card--heading::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      border-bottom: 2px solid #e6e6e6;
      bottom: -1.5rem; }
    .blog-card--heading .author {
      font-size: 1.5rem;
      margin-right: 1rem;
      color: #12e600;
      text-decoration: none; }
      .blog-card--heading .author:visited {
        color: #12e600; }
      .blog-card--heading .author:hover {
        color: #12e600; }
      .blog-card--heading .author:active, .blog-card--heading .author:focus {
        color: #12e600; }
    .blog-card--heading .date {
      color: #a9a9a9; }

/*# sourceMappingURL=styles.css.map */
