$spacing:              1rem
$spacing-small:        $spacing / 2
$spacing-medium:       $spacing * 1.5
$spacing-large:        $spacing * 2
$spacing-extra-large:  $spacing * 3

$max-view:   80rem

// white
$white:      #ffffff
$dark-snow:  #dedede
$snow:       #e6e6e6

// grey - black
$black:      #000000
$dark:       #1d2125
$text:       #45515d
$dark-gray:  #a9a9a9

// blue
$blue:       #3ba3fb
$dark-blue:  #3e69ac
$light-blue: #538fe9

// green
$green:      #12e600