{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Julio Schilders">
        {% if meta %}
            <meta name="description" content="{{ meta.title }}">
            <meta property="og:title" content="{{ meta.title }}">
            <meta property="og:description" content="{{ meta.description }}">
        {% endif %}
        <meta property="og:type" content="website">
        <meta property="og:image" content="{% static 'icons/favicon.ico' %}">
        <meta name="theme-color" content="#3e69ac" />
        <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">
        <!-- Dependencies -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}" >
        {% if title %}
            <title>Blog - {{ title }}</title>
        {% else %}
            <title>Blog</title>
        {% endif %}
    </head>
    <body>
        <header class="header">
            <div class="header--inner">
                <nav class="navigation-menu">
                    <a class="link" href="{% url 'blog-home' %}">
                        <img class="logo" src="{% static 'icons/snek.png' %}" alt="Snek logo">
                    </a>
                    <div class="menu-items">
                        <a class="link" href="{% url 'blog-home' %}">Home</a>
                        <a class="link" href="{% url 'blog-about' %}">About</a>
                    </div>
                </nav>
                <nav class="login-menu">
                    {% if user.is_authenticated %}
                        <a class="link" href="{% url 'profile' %}">My profile</a>
                        <a class="link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="link" href="{% url 'login' %}">Login</a>
                        <a class="link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </nav>
            </div>
        </header>
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
