{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Julio Schilders">
        {% if meta %}
            <meta name="description" content="{{ meta.title }}">
            <meta property="og:title" content="{{ meta.title }}">
            <meta property="og:description" content="{{ meta.description }}">
        {% endif %}
        <meta property="og:type" content="website">
        <meta property="og:image" content="{% static 'icons/favicon.ico' %}">
        <meta name="theme-color" content="#3e69ac" />
        <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">
        <!-- Dependencies -->
        <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}" >
        {% if title %}
            <title>Blog - {{ title }}</title>
        {% else %}
            <title>Blog</title>
        {% endif %}
    </head>
    <body>
        <header class="header">
            <div class="header--inner">
                <nav class="navigation-menu">
                    <a class="link" href="{% url 'blog-home' %}">
                        <img class="logo" src="{% static 'icons/snek.png' %}" alt="Snek logo">
                    </a>
                    <div class="menu-items">
                        <a class="link" href="{% url 'blog-home' %}">Home</a>
                        <a class="link" href="{% url 'blog-about' %}">About</a>
                    </div>
                </nav>
                <nav class="login-menu">
                    <a class="link" href="">Login</a>
                    <a class="link" href="">Register</a>
                </nav>
            </div>
        </header>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
