{% extends 'blog/base.html' %}
{% block content %}
    <h1 class="page-title">Snek's Blog</h1>
    {% for post in posts %}
        <section class="blog-card">
            <div class="blog-card--heading">
                <a class="author" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
            </div>
            <div class="blog-card--content">
                <h2 class="mt-0"><a class="title" href="#">{{ post.title }}</a></h2>
                <p class="text-white">{{ post.content }}</p>
            </div>
        </section>
    {% endfor %}
{% endblock content %}