{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom border-dark mb-4">Log in</legend>
            {{ form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-dark" type="submit">Login</button>
        </div>
        <small class="text-muted">
            Forgot your password?
            <a class="ml-2" href="{% url 'password_reset' %}">Reset password</a>
        </small>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Don't have an account yet?
            <a class="ml-2" href="{% url 'register' %}">Sign up now</a>
        </small>
    </div>
{% endblock content %}
