{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom border-dark mb-4">Join today</legend>
            {{ form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-dark" type="submit">Sign up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an account?
            <a class="ml-2" href="{% url 'login' %}">Sign in</a>
        </small>
    </div>
{% endblock content %}
